<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jjkst.cricketscoresheet" android:versionCode="18" android:versionName="1.2.5" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="CricketScoreSheet" android:icon="@drawable/ic_launcher"></application>
	<meta-data android:name="io.fabric.ApiKey" android:value="f94d63c8e11b6985495417d8971efab7be3fb1a7" />
</manifest>